In [3]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder

# Diabetes

In [34]:
df = pd.read_csv(r"data/original/CVD_cleaned.csv")
df.head()

,General_Health,Checkup,Exercise,Heart_Disease,Skin_Cancer,Other_Cancer,Depression,Diabetes,Arthritis,Sex,Age_Category,Height_(cm),Weight_(kg),BMI,Smoking_History,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption
0,Poor,Within the past 2 years,No,No,No,No,No,No,Yes,Female,70-74,150.0,32.66,14.54,Yes,0.0,30.0,16.0,12.0
1,Very Good,Within the past year,No,Yes,No,No,No,Yes,No,Female,70-74,165.0,77.11,28.29,No,0.0,30.0,0.0,4.0
2,Very Good,Within the past year,Yes,No,No,No,No,Yes,No,Female,60-64,163.0,88.45,33.47,No,4.0,12.0,3.0,16.0
3,Poor,Within the past year,Yes,Yes,No,No,No,Yes,No,Male,75-79,180.0,93.44,28.73,No,0.0,30.0,30.0,8.0
4,Good,Within the past year,No,No,No,No,No,No,No,Male,80+,191.0,88.45,24.37,Yes,0.0,8.0,4.0,0.0

In [35]:
actual_types = df.applymap(type)

# Display a summary of the unique types for each column
column_types = df.apply(lambda x: x.apply(type).unique())
print(column_types)

  General_Health        Checkup       Exercise  Heart_Disease    Skin_Cancer  \
0  <class 'str'>  <class 'str'>  <class 'str'>  <class 'str'>  <class 'str'>

    Other_Cancer     Depression       Diabetes      Arthritis            Sex  \
0  <class 'str'>  <class 'str'>  <class 'str'>  <class 'str'>  <class 'str'>

    Age_Category      Height_(cm)      Weight_(kg)              BMI  \
0  <class 'str'>  <class 'float'>  <class 'float'>  <class 'float'>

  Smoking_History Alcohol_Consumption Fruit_Consumption  \
0   <class 'str'>     <class 'float'>   <class 'float'>

  Green_Vegetables_Consumption FriedPotato_Consumption
0              <class 'float'>         <class 'float'>

In [36]:
for column in df.columns:
    print(f"* {column}:")
    print(f"\t unique value = {df[column].unique()}")

* General_Health:
	 unique value = ['Poor' 'Very Good' 'Good' 'Fair' 'Excellent']
* Checkup:
	 unique value = ['Within the past 2 years' 'Within the past year' '5 or more years ago'
 'Within the past 5 years' 'Never']
* Exercise:
	 unique value = ['No' 'Yes']
* Heart_Disease:
	 unique value = ['No' 'Yes']
* Skin_Cancer:
	 unique value = ['No' 'Yes']
* Other_Cancer:
	 unique value = ['No' 'Yes']
* Depression:
	 unique value = ['No' 'Yes']
* Diabetes:
	 unique value = ['No' 'Yes' 'No, pre-diabetes or borderline diabetes'
 'Yes, but female told only during pregnancy']
* Arthritis:
	 unique value = ['Yes' 'No']
* Sex:
	 unique value = ['Female' 'Male']
* Age_Category:
	 unique value = ['70-74' '60-64' '75-79' '80+' '65-69' '50-54' '45-49' '18-24' '30-34'
 '55-59' '35-39' '40-44' '25-29']
* Height_(cm):
	 unique value = [150. 165. 163. 180. 191. 183. 175. 160. 168. 178. 152. 157. 188. 185.
 170. 173. 155. 193. 196. 206. 198. 140. 135. 145. 147. 142. 201. 218.
 124. 203. 137. 122. 216. 224. 229. 151. 177. 164. 162. 156. 153. 169.
 167. 172. 106. 190. 143. 171. 154. 176. 200. 146. 148. 158. 159. 187.
 104. 120. 107. 211. 226. 182. 213.  97. 184. 125. 127. 234. 130. 119.
 132. 105. 166. 181. 186.  91. 174. 208. 149.  96. 197. 161.  94. 103.
 221. 134. 144. 189. 100. 179. 117.  99. 102. 110. 241. 115. 205. 195.
 108.]
* Weight_(kg):
	 unique value = [ 32.66  77.11  88.45  93.44 154.22  69.85 108.86  72.57  91.63  74.84
  73.48  83.91 113.4   52.16 116.12  99.79  81.65 104.33  79.38  55.79
 124.74  81.19  70.31 112.49 147.42  84.82 102.06  64.41  60.78  61.23
  88.    90.72  49.9   85.28 120.2   69.4   62.14  65.77  89.81  66.68
  86.18  72.12  87.54  62.6   75.75  88.9   92.08  56.7   68.04  79.83
  63.5   58.97 114.76  45.36  73.94  54.43 125.19  77.56  96.16  95.25
 115.67  82.55 136.08  78.93  70.76  95.71  53.52  87.09  55.34  83.01
 123.38  98.88  73.03  76.66  97.52  71.67  83.46 122.47  58.06  74.39
  67.13  82.1   47.63  99.34  85.73 108.41  91.17  57.61  63.05  45.81
  94.35  44.45 117.93 107.5  127.01 106.59 107.95  89.36  92.99  53.07
  78.02 131.09  97.98  84.37 111.13  50.8   57.15  64.86  80.29  76.2
 114.31  65.32  97.07  67.59  75.3  105.69 110.68  86.64  51.26  61.69
 107.05  42.64  40.82 101.6   90.26 131.54  98.43  78.47  59.87  68.95
  60.33  94.8   48.53  96.62 117.48 102.51  46.27 109.77  58.51  68.49
 133.81 158.76  52.62  80.74  48.99 117.03  54.88  33.11  51.71  92.53
  34.02  44.91 105.23 145.6  106.14  56.25 139.71 124.28 103.42  71.21
 138.35 143.34 101.15 103.87 145.15  93.89  49.44  46.72 120.66 132.9
 112.04 167.83 142.88  66.22  63.96 162.39 176.9  121.56 111.58 136.98
 110.22 170.1  122.02 133.36 119.75 129.27 175.54 151.95 118.39 121.11
 132.45 135.62 119.29 102.97 172.37 156.49  43.09  43.54 157.4   59.42
 181.44 125.65 127.91 144.7  149.69 113.85 163.29 100.7  115.21 112.94
 208.65 127.46 100.24 136.53  50.35 130.63 122.92 141.97  47.17 142.43
 132.   118.84 116.57 151.5  137.44  72.   140.61 169.19  44.   160.57
 104.78 130.18  65.   134.72  48.08 139.25  53.98  36.29 129.73  38.56
 228.16 166.92 148.32 174.63 146.96 235.87 161.03 152.86 105.    75.
 109.   123.83 165.56  42.18 134.26 140.16 228.61 128.82  39.92  78.
 109.32 204.12  85.   141.52 161.48 185.97  90.    61.    95.    60.
  45.   126.1   82.   137.89  70.    64.   100.    63.   126.55 135.17
  74.   150.59  83.   189.15 143.79  97.    73.    54.    80.   164.2
  55.   155.13  52.    67.   144.24  68.   226.8   62.    76.   190.51
 146.51 188.24 199.58  79.    96.   152.41  58.   138.8  118.   165.11
 153.31  84.    38.1   41.73  39.01  37.19  87.   128.37 156.04 187.79
 168.28 136.    35.38 166.01 213.19  89.    66.    40.37  81.   210.92
  50.   155.58  25.4  224.53 179.17 159.66 176.45 209.56 151.05 148.78
 217.72 146.06 140.   219.99  86.   141.07 110.    92.    31.75  41.28
  33.57 130.    48.   161.93  94.    98.   183.25  53.    34.47 120.
  77.   183.7  272.16 171.46 206.84  26.76 200.    69.   101.   180.53
  47.   126.    59.   215.46 175.99 166.47 184.61 153.77  39.46 174.18
 186.43  46.    40.   195.04 104.   201.85 147.87 192.78  36.74 162.84
 134.   157.85 191.87 272.61  51.   231.33  37.65  93.    56.   149.23
 154.68 158.3  194.59 179.62 159.   210.47 180.98 169.64 285.76 177.81
 119.   150.   159.21 167.38 244.03 163.75 168.74 173.27 227.7   99.
 200.94 229.52 219.54 232.69 175.09 229.97 293.02 200.49 195.95 190.96
 212.73 150.14 229.06 178.72 181.89  34.93 171.   156.94 176.    57.
  71.   103.   254.01  30.84 249.48 240.4  238.14 205.93 273.52 215.
 187.33 182.   164.65 233.6   29.94 199.13 185.07 216.36 186.88 189.6
 173.73 219.09  24.95 203.21 210.01  35.83 190.06 116.   197.31 154.
 180.08 102.   222.26 202.76  27.22 206.38 135.   170.55 160.    43.
 188.69 106.   177.35 112.   160.12 195.   172.82 220.45 184.16 185.52
  26.31  41.   274.42 207.75 180.   175.   141.   230.88 222.71 258.55
 203.66 113.   182.34 195.5  191.42 215.91 178.26 257.64 244.94 263.08
 214.1  117.   172.   115.   185.   247.21  39.   193.68 127.    30.
 250.   252.2  283.5   49.    42.  ]
* BMI:
	 unique value = [14.54 28.29 33.47 ... 63.83 19.09 56.32]
* Smoking_History:
	 unique value = ['Yes' 'No']
* Alcohol_Consumption:
	 unique value = [ 0.  4.  3.  8. 30.  2. 12.  1.  5. 10. 20. 17. 16.  6. 25. 28. 15.  7.
  9. 24. 11. 29. 27. 14. 21. 23. 18. 26. 22. 13. 19.]
* Fruit_Consumption:
	 unique value = [ 30.  12.   8.  16.   2.   1.  60.   0.   7.   5.   3.   6.  90.  28.
  20.   4.  80.  24.  15.  10.  25.  14. 120.  32.  40.  17.  45. 100.
   9.  99.  96.  35.  50.  56.  48.  27.  72.  36.  84.  26.  23.  18.
  21.  42.  22.  11. 112.  29.  64.  70.  33.  76.  44.  39.  75.  31.
  92. 104.  88.  65.  55.  13.  38.  63.  97. 108.  19.  52.  98.  37.
  68.  34.  41. 116.  54.  62.  85.]
* Green_Vegetables_Consumption:
	 unique value = [ 16.   0.   3.  30.   4.  12.   8.  20.   1.  10.   5.   2.   6.  60.
  28.  25.  14.  40.   7.  22.  24.  15. 120.  90.  19.  13.  11.  80.
  27.  17.  56.  18.   9.  21.  99.  29.  31.  45.  23. 100. 104.  32.
  48.  75.  36.  35. 112.  26.  50.  33.  96.  52.  76.  84.  34.  97.
  88.  98.  68.  92.  55.  95.  64. 124.  61.  65.  77.  85.  44.  39.
  70.  93. 128.  37.  53.]
* FriedPotato_Consumption:
	 unique value = [ 12.   4.  16.   8.   0.   1.   2.  30.  20.  15.  10.   3.   7.  28.
   5.   9.   6. 120.  32.  14.  60.  33.  48.  25.  24.  21.  90.  13.
  99.  17.  18.  40.  56.  34.  36.  44. 100.  11.  64.  45.  80.  29.
  68.  26.  50.  22.  95.  23.  27. 112.  35.  31.  98.  96.  88.  92.
  19.  76.  49.  97. 128.  41.  37.  42.  52.  72.  46. 124.  84.]

In [37]:
# Replace specific values to simplify them
df['Diabetes'] = df['Diabetes'].replace({
    'No, pre-diabetes or borderline diabetes': 'No',
    'Yes, but female told only during pregnancy': 'Yes'
})

In [48]:
# # 1. Separate categorical (string) and numerical (float) columns
# categorical_cols = df.select_dtypes(include='object').columns
# numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns
#
# # 2. One-hot encode the categorical columns
# df_onehot = pd.get_dummies(df[categorical_cols], drop_first=False)
#
# # 3. Concatenate numeric columns with the one-hot encoded categorical columns
# df_final = pd.concat([df[numeric_cols], df_onehot], axis=1)
#
# # 4. Display the new DataFrame
# df_final.head()
#
# # Save converted data
# df_final.to_csv('converted_data.csv', index=False)

In [38]:
# 1. Separate categorical (string) and numerical (float) columns
categorical_cols = df.select_dtypes(include='object').columns
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns

# 2. Initialize an empty DataFrame to store the processed categorical columns
df_processed_categorical = pd.DataFrame()

# 3. Iterate through each categorical column and decide how to encode it
for col in categorical_cols:
    if df[col].nunique() == 2:  # If the column has only two unique values
        # Use LabelEncoder for binary columns (0/1)
        le = LabelEncoder()
        df_processed_categorical[col] = le.fit_transform(df[col])
    else:
        # Use one-hot encoding for columns with more than two categories
        df_onehot = pd.get_dummies(df[col], prefix=col, drop_first=False)
        df_processed_categorical = pd.concat([df_processed_categorical, df_onehot], axis=1)

for col in numeric_cols:
    df[col] = df[col] / df[col].max()

# 4. Concatenate numeric columns with the processed categorical columns
df_final = pd.concat([df[numeric_cols], df_processed_categorical], axis=1)

# 5. Display the new DataFrame
df_final.head()

,Height_(cm),Weight_(kg),BMI,Alcohol_Consumption,Fruit_Consumption,Green_Vegetables_Consumption,FriedPotato_Consumption,General_Health_Excellent,General_Health_Fair,General_Health_Good,...,Age_Category_40-44,Age_Category_45-49,Age_Category_50-54,Age_Category_55-59,Age_Category_60-64,Age_Category_65-69,Age_Category_70-74,Age_Category_75-79,Age_Category_80+,Smoking_History
0,0.622407,0.111460,0.146381,0.000000,0.250000,0.125000,0.09375,0,0,0,...,0,0,0,0,0,0,1,0,0,1
1,0.684647,0.263156,0.284808,0.000000,0.250000,0.000000,0.03125,0,0,0,...,0,0,0,0,0,0,1,0,0,0
2,0.676349,0.301857,0.336958,0.133333,0.100000,0.023438,0.12500,0,0,0,...,0,0,0,0,1,0,0,0,0,0
3,0.746888,0.318886,0.289238,0.000000,0.250000,0.234375,0.06250,0,0,0,...,0,0,0,0,0,0,0,1,0,0
4,0.792531,0.301857,0.245344,0.000000,0.066667,0.031250,0.00000,0,0,1,...,0,0,0,0,0,0,0,0,1,1

In [40]:
df_positive = df_final[df_final['Diabetes'] == 1]
df_negative = df_final[df_final['Diabetes'] == 0]
print(len(df_positive))
print(len(df_negative))

42817
266037

In [41]:
sample_from_each = 10000
df_final = pd.concat([df_positive.sample(n=sample_from_each, random_state=1), df_negative.sample(n=sample_from_each, random_state=1)])

In [42]:
# 6. Save the converted data
df_final.to_csv('data/converted_diabetes_data.csv', index=False)

# Glass Dataset

In [18]:
glass_df = pd.read_csv('data/original/glass.csv')
glass_df

          RI     Na    Mg    Al     Si     K    Ca    Ba   Fe  Type
0    1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.00  0.0     1
1    1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.00  0.0     1
2    1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.00  0.0     1
3    1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.00  0.0     1
4    1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.00  0.0     1
..       ...    ...   ...   ...    ...   ...   ...   ...  ...   ...
209  1.51623  14.14  0.00  2.88  72.61  0.08  9.18  1.06  0.0     4
210  1.51685  14.92  0.00  1.99  73.06  0.00  8.40  1.59  0.0     4
211  1.52065  14.36  0.00  2.02  73.42  0.00  8.44  1.64  0.0     4
212  1.51651  14.38  0.00  1.94  73.61  0.00  8.48  1.57  0.0     4
213  1.51711  14.23  0.00  2.08  73.36  0.00  8.62  1.67  0.0     4

[214 rows x 10 columns]

In [19]:
glass_df['Type'] -= 1

In [20]:
range_df = glass_df.agg(['min', 'max'])
range_df

          RI     Na    Mg    Al     Si     K     Ca    Ba    Fe  Type
min  1.51115  10.73  0.00  0.29  69.81  0.00   5.43  0.00  0.00     0
max  1.53393  17.38  4.49  3.50  75.41  6.21  16.19  3.15  0.51     6

In [21]:
for col in glass_df.columns[:-1]:
    glass_df[col] = glass_df[col] / glass_df[col].max()

In [22]:
glass_df.to_csv('data/converted_glass_data.csv', index=False)

# car_evaluation

In [4]:
car_df = pd.read_csv("data/original/car_evaluation.csv")
car_df

      vhigh vhigh.1      2   2.1  small   low  unacc
0     vhigh   vhigh      2     2  small   med  unacc
1     vhigh   vhigh      2     2  small  high  unacc
2     vhigh   vhigh      2     2    med   low  unacc
3     vhigh   vhigh      2     2    med   med  unacc
4     vhigh   vhigh      2     2    med  high  unacc
...     ...     ...    ...   ...    ...   ...    ...
1722    low     low  5more  more    med   med   good
1723    low     low  5more  more    med  high  vgood
1724    low     low  5more  more    big   low  unacc
1725    low     low  5more  more    big   med   good
1726    low     low  5more  more    big  high  vgood

[1727 rows x 7 columns]

In [5]:
for column in car_df.columns:
    print(f"* {column}:")
    print(f"\t unique value = {car_df[column].unique()}")

* vhigh:
	 unique value = ['vhigh' 'high' 'med' 'low']
* vhigh.1:
	 unique value = ['vhigh' 'high' 'med' 'low']
* 2:
	 unique value = ['2' '3' '4' '5more']
* 2.1:
	 unique value = ['2' '4' 'more']
* small:
	 unique value = ['small' 'med' 'big']
* low:
	 unique value = ['med' 'high' 'low']
* unacc:
	 unique value = ['unacc' 'acc' 'vgood' 'good']

In [6]:
converted_car_df = pd.DataFrame()
for col in car_df.columns[:-1]:
    df_onehot = pd.get_dummies(car_df[col], prefix=col, drop_first=False)
    converted_car_df = pd.concat([converted_car_df, df_onehot], axis=1)

converted_car_df = pd.concat([converted_car_df, car_df['unacc']], axis=1)
converted_car_df['unacc'] = pd.factorize(converted_car_df['unacc'])[0]

In [7]:
converted_car_df.head()

,vhigh_high,vhigh_low,vhigh_med,vhigh_vhigh,vhigh.1_high,vhigh.1_low,vhigh.1_med,vhigh.1_vhigh,2_2,2_3,...,2.1_2,2.1_4,2.1_more,small_big,small_med,small_small,low_high,low_low,low_med,unacc
0,0,0,0,1,0,0,0,1,1,0,...,1,0,0,0,0,1,0,0,1,0
1,0,0,0,1,0,0,0,1,1,0,...,1,0,0,0,0,1,1,0,0,0
2,0,0,0,1,0,0,0,1,1,0,...,1,0,0,0,1,0,0,1,0,0
3,0,0,0,1,0,0,0,1,1,0,...,1,0,0,0,1,0,0,0,1,0
4,0,0,0,1,0,0,0,1,1,0,...,1,0,0,0,1,0,1,0,0,0

In [9]:
counts = converted_car_df['unacc'].value_counts()
counts

0    1209
1     384
3      69
2      65
Name: unacc, dtype: int64

In [10]:
converted_car_df.to_csv('data/converted_car_data.csv', index=False)

# winequality-red

In [23]:
wine_df = pd.read_csv("data/original/winequality-red.csv")
wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5

In [24]:
for col in wine_df.columns[:-1]:
    wine_df[col] = wine_df[col] / wine_df[col].max()

wine_df.head()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,0.465409,0.443038,0.00,0.122581,0.124386,0.152778,0.117647,0.994132,0.875312,0.280,0.630872,5
1,0.490566,0.556962,0.00,0.167742,0.160393,0.347222,0.231834,0.993135,0.798005,0.340,0.657718,5
2,0.490566,0.481013,0.04,0.148387,0.150573,0.208333,0.186851,0.993335,0.812968,0.325,0.657718,5
3,0.704403,0.177215,0.56,0.122581,0.122750,0.236111,0.207612,0.994331,0.788030,0.290,0.657718,6
4,0.465409,0.443038,0.00,0.122581,0.124386,0.152778,0.117647,0.994132,0.875312,0.280,0.630872,5

In [31]:
wine_df['quality'].value_counts()

5    681
6    638
7    199
4     53
8     18
3     10
Name: quality, dtype: int64

In [35]:
wine_df = wine_df[wine_df['quality'].isin([5, 6, 7])]
wine_df['quality'] -= 5

In [36]:
wine_df['quality'].value_counts()

0    681
1    638
2    199
Name: quality, dtype: int64

In [38]:
wine_df.to_csv('data/converted_wine_data.csv', index=False)